Investigate need for `lookup_interface` preseed key

We responded to https://github.com/canonical/microcloud/issues/148 by passing the interface used for the management network to lookup peers over mDNS. To accomplish the same thing with preseed, we added the  `lookup_interface` key to the preseed config so that the interface could be specified.

The distinction is that `microcloud init` (without preseed) does not require a subnet to be chosen to lookup systems. We are fine with showing multiple detected entries for the same cluster member served on different addresses. 

However, for preseed, we can't directly "pick" the addresses we want for each node since they are chosen automatically. This means we do actually need a `lookup_subnet` key to ensure the resulting microcluster cluster is all in the same subnet. 

Since we specify `lookup_subnet` in this case, it may be possible to infer the interface from the subnet, by picking the first interface that contains the given subnet, thus making `lookup_interface` redundant. 



Per [RFC-6762, section 4](https://datatracker.ietf.org/doc/html/rfc6762#section-4) (and related [RFC-5771, section 4](https://datatracker.ietf.org/doc/html/rfc5771#section-4)), mds broadcasts are link-local. In order for discovery to work, each host must have at least one interface on the same subnet.

This boils down to whether or not the purpose of `lookup_subnet` and `lookup_interface` is to narrow down to one L2 to be the management network for the cloud. Since `lookup_interface` restricts us to one L2, this is fairly clearly the case.

There's nothing to stop you putting multiple NICs on the same L2 from the same machine, per [Julian's comment](https://github.com/canonical/microcloud/pull/352#pullrequestreview-2196609345); routing will work fine. However, if there's any kind of automated DNS in the environment, you'll end up with a hostname conflict. Putting two NICs on the same network from the same instance is [expressly disallowed](https://github.com/canonical/lxd/blob/main/lxd/device/nic_bridged.go#L404) in LXD for managed bridges & OVN networks. I think it's reasonably safe to say that this isn't a configuration we should be supporting. Users should use VLAN (or similar protocols) or separate physical networks.

Since we're trying to narrow to one L2 and we only expect one IP address per system per subnet, Max's suggestion to require the lookup subnet to be the same as (or fit within) the management interface's IP/subnet seems the most reasonable course of action here.

Next week, I'll put together a PR to:
- Remove (deprecate?) the `lookup_interface` preseed key
- Only match the management IP of a local interface if its subnet is the same size or larger than `lookup_subnet`

@roosterfish @mseralessandri is it worth holding off on this until the new cluster join work has been completed as it nay change or become moot?

@MggMuggins I understood that the [comment](https://github.com/canonical/microcloud/pull/352#issuecomment-2248551496) shows how to define a `lookup_subnet` that spans multiple (two in the example) networks. 
So we should support either scenarios:
1. A `lookup_subnet` that is smaller than any of the networks on the system or has equal size
2. A `lookup_subnet` which spans across multiple networks

But in general I am wondering why we even need a distinction between the address you pick for MicroCloud to be used for the internal network and the address/interface used for the discovery?

AFAIK the MicroCloud nodes anyway reach out to the other side via the address defined for the internal network (`Address` field in the mDNS payload) so why don't we just use this network (and the respective underlying interface) to perform the mDNS lookups? 

Making sure we're on the same page terminology-wise, does internal network `==` management network?

I don't think there should be/can be a distinction between the MicroCloud management network and the address/interface used for discovery; we should be performing the lookup on the same L2 that is being used for cluster management traffic. It seems like a MicroCloud deployment with cluster members on different subnets would be a _very_ strange network setup. Do you have any concrete examples of when this might be useful?

My point is that we don't currently (and shouldn't) support your second bullet; the `lookup_interface` key restricts us to using one L2 for lookup & management. A `lookup_subnet` that spans multiple networks doesn't give us the same semantics as we currently provide.

@tomponline I don't think this necessarily conflicts with secure discovery; my understanding from the spec is that mdns still plays a role. That said I'm happy to wait on this until secure discovery is merged :).


In my understanding both internal and management network are the same. I am using "internal" as this is the wording from the initial `microcloud init` question: `Select an address for MicroCloud's internal traffic`

> Do you have any concrete examples of when this might be useful?

I also don't see why we would need MicroCloud to check for such scenarios (lookup up other MicroClouds in non-internal networks). 

But right now MicroCloud gets a list of all usable networks/interfaces and registers mDNS servers in a way to respond in any of those, regardless of what is selected for the internal address. See [Broadcast()](https://github.com/canonical/microcloud/blob/main/service/service_handler.go#L104).

Only when searching for other MicroClouds (running the actual mDNS queries), the responses are filtered in [lookupPeers()](https://github.com/canonical/microcloud/blob/main/cmd/microcloud/main_init.go#L281) based on what is provided for [`lookup_subnet`](https://github.com/canonical/microcloud/blob/main/cmd/microcloud/main_init.go#L359) and [`lookup_interface`](https://github.com/canonical/microcloud/blob/main/cmd/microcloud/main_init.go#L335).

If we all come to the same conclusion that MicroCloud should only use the network (and interface) that contains the address it uses for the internal network, we have to put in some more changes besides removing `lookup_interface` to reduce the amount of address/interface combinations broadcasted using mDNS.


 

In regards to the work on trust establishment, I am currently moving those parts as the way we use mDNS today changes slightly.
 
But I am happy to include the discussed restrictions.


To summarize our meeting today; we decided to restrict the MicroCloud internal/management network to a subnet that is present on each of the cluster members (disallow the management net spanning multiple subnets). Additionally we may adjust the mDNS broadcast when a preseed is provided, as MicroCloud only needs to broadcast on the `lookup_subnet`. @roosterfish, will you be including these changes as part of the secure discovery or should this be implemented separately after that is done?

To add to this it's applicable for both the preseed and interactive mode.

Spanning across multiple subnets would still be possible (after trust establishment lands) when you target the server directly from the joiner and don't rely on mDNS.

> will you be including these changes as part of the secure discovery or should this be implemented separately after that is done?

Yes I'll take care of limiting the broadcasts to the internal network. 
Tbh I haven't yet touched the preseed parts so I'll come back to this issue once it's at a good state.

This should be addressed by #383 

Preseed will now only have a `lookup_subnet` key, which if specified (in lieu of system-specific addresses), will result in MicroCloud picking the first available address in the subnet on each system.

For each node, this address will be as the microcluster cluster address, and also used for multicast lookup/broadcast.

This is facilitated by the changes to multicast lookup in the above PR, which limit multicast broadcasts to one selected interface/subnet.